<header>
   <h1>Kyle Rose</h1>
   <img src="images/face.webp" alt="Mountain View" style="width:228px;height:228px;">
   <p>I do not understand what I can not build <em>- Richard Feynman</em></p>
     <a href="http://github.com/anonrose">
       <i class="fa fa-github-alt fa-2x" aria-hidden="true"></i>
     </a>
     <a href="http://twitter.com/esornona">
       <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
    </a>
     <a href="mailto:esornona@gmail.com">
       <i class="fa fa-envelope-open fa-2x" aria-hidden="true"></i>
     </a>
</header>
